build/
.vscode
ycsb-test/workloads/*
micro-test/micro-workloads/*
ycsb-test/upd-workloads/*
*.ipynb
*.tgz
workloads.tgz
micro-workloads.tgz
upd-workload.tgz
setup/workloads
setup/install/
setup/micro-workloads/
setup/upd-workloads.tgz
setup/upd-workloads/
exp/results/*.json
exp/figures/*.pdf
exp/test_draw.py
exp/test.pdf
exp/utils/__pycache__/
trace-make/load/*
trace-make/processed/*
trace-make/raw/*
*.spec_trans
*.spec_load
trace-make/my-workloads
trace-make/unused-files
setup/unused-files